# WooCommerce API Configuration
VITE_WP_URL=https://helpinghandscraft.co.uk
VITE_WC_CONSUMER_KEY=your_consumer_key_here
VITE_WC_CONSUMER_SECRET=your_consumer_secret_here
VITE_WP_BASIC_AUTH_USER=your_basic_auth_user
VITE_WP_BASIC_AUTH_PASS=your_basic_auth_pass
